.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#checkout {
    min-height: 55vh;
}


/*Navbar*/

.btn .bx {
    vertical-align: inherit;
    margin-top: -3px;
    font-size: 1.15rem;
}

.form-control {
    height: calc(2.5rem + 2px);
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.btn {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.bx.icon-single {
    font-size: 1.5rem;
}

.form-inline .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-inline .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .form-inline .form-control {
        width: 210px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .form-inline .form-control {
        width: 440px;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .form-inline .form-control {
        width: 600px;
    }
}

.sub-menu.navbar-light .navbar-nav .active>.nav-link,
.sub-menu.navbar-light .navbar-nav .nav-link.active,
.sub-menu.navbar-light .navbar-nav .nav-link.show,
.sub-menu.navbar-light .navbar-nav .show>.nav-link {
    border-bottom: 3px solid #007bff;
    color: #007bff;
}

.navbar .navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler:focus {
    outline: none;
}

.navbar {
    padding: 1rem;
}

.main-menu {
    position: relative;
    z-index: 3;
}

.sub-menu {
    position: relative;
    z-index: 2;
    padding: 0 1rem;
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .sub-menu {
        padding: 0 1rem;
    }
    .sub-menu.navbar-expand-md .navbar-nav .nav-link {
        padding: 1rem 1.5rem;
    }
}

.navbar.bg-light {
    background: #fff !important;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

.user-dropdown .nav-link {
    padding: 0.15rem 0;
}

#sidebar {
    background: #fff;
    height: 100%;
    left: -100%;
    top: 0;
    bottom: 0;
    overflow: auto;
    position: fixed;
    transition: 0.4s ease-in-out;
    width: 84%;
    z-index: 5001;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    padding: 1.25rem 1rem 1rem;
}

#sidebar.active {
    left: 0;
}

#sidebar .sidebar-header {
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 1.5rem;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 40px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 16px;
    font-size: 1.1em;
    display: block;
    color: #000;
}

#sidebar ul li a:hover {
    color: #7386d5;
    background: #fff;
}

#sidebar ul li.active>a,
#sidebar a[aria-expanded="true"] {
    color: #007bff;
    background: #e6f2ff;
    border-radius: 6px;
}

a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .links .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

section {
    padding: 6rem;
    background: #e4e4e4;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: -1;
    width: 100%;
    opacity: 0;
}

.overlay.visible {
    opacity: 1;
    z-index: 5000;
}


/* .mobiHeader .menuActive~.overlay {
    opacity: 1;
    width: 100%;
} */

ul.social-icons {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

ul.social-icons li {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 0;
}

#sidebar ul.social-icons li a {
    font-size: 24px;
}

.utility-nav {
    background: #e4e4e4;
    padding: 0.5rem 1rem;
}

.utility-nav p {
    margin-bottom: 0;
}

.search-bar {
    position: relative;
    z-index: 2;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

.search-bar .form-control {
    width: calc(100% - 45px);
}

.avatar {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 8px;
}

.avatar.avatar-xs {
    width: 2.25rem;
    height: 2.25rem;
}

.user-dropdown .dropdown-menu {
    left: auto;
    right: 0;
}


/* Estilos cards */

.color-text {
    color: rgb(165, 41, 3);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}

.place-name {
    color: rgb(72, 72, 72);
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}

.price {
    font-size: 14px;
    line-height: 18px;
    color: rgb(72, 72, 72) !important;
}

img {
    /*   width:100%; */
    border-radius: 3px;
}

span {
    display: block;
}

.text-color {
    color: rgb(255, 180, 0)!important;
    font-size: 12px!important;
}


/* Estilos detalles de producto */

.pd-wrap {
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
}

.heading-section {
    text-align: center;
    margin-bottom: 20px;
}

.sub-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.heading-section h2 {
    font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    min-width: 80px;
    background-size: 100%;
}

.carousel-testimonial .item {
    padding: 30px 10px;
}

.quote {
    position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}

.name {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}

.position {
    color: #adadad;
    font-size: 14px;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    height: 25px;
}

.owl-nav button svg {
    width: 25px;
    height: 25px;
}

.owl-nav button.owl-prev {
    left: 25px;
}

.owl-nav button.owl-next {
    right: 25px;
}

.owl-nav button span {
    font-size: 45px;
}

.product-thumb .item img {
    height: 100px;
}

.product-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4px;
}

.product-price-discount {
    font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}

.product-price-discount span.line-through {
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}

.display-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.round-black-btn {
    border-radius: 4px;
    background: #212529;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529;
    transition: all 0.5s ease-in-out 0s;
}

.round-black-btn:hover,
.round-black-btn:focus {
    background: transparent;
    color: #212529;
    text-decoration: none;
}

.mb-20 {
    margin-bottom: 20px;
}

.review-form .rate {
    float: none;
    display: inline-block;
}

.review-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}

.review-form .form-control {
    font-size: 14px;
}

.review-form input.form-control {
    height: 40px;
}

.review-form textarea.form-control {
    resize: none;
}

.review-form .round-black-btn {
    text-transform: uppercase;
    cursor: pointer;
}


/*Estilos contacto*/

#success-message {
    opacity: 0;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    padding: 0 20% 0 20%;
}

.margin-top-25 {
    margin-top: 25px;
}

.form-title {
    padding: 25px;
    font-size: 30px;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group .form-control {
    -webkit-box-shadow: none;
    border-bottom: 1px;
    border-style: none none solid none;
    border-radius: 0;
    border-color: #000;
}

.form-group .form-control:focus {
    box-shadow: none;
    border-width: 0 0 2px 0;
    border-color: #000;
}

textarea {
    resize: none;
}

.btn-mod.btn-large {
    height: auto;
    padding: 13px 52px;
    font-size: 15px;
}

.btn-mod.btn-border {
    color: #000000;
    border: 1px solid #000000;
    background: transparent;
}

.btn-mod,
a.btn-mod {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 13px;
    color: #fff;
    background: rgba(34, 34, 34, .9);
    border: 1px solid transparent;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:active,
.btn-mod.btn-border:focus,
.btn-mod.btn-border:active:focus {
    color: #fff;
    border-color: #000;
    background: #000;
    outline: none;
}

@media only screen and (max-width: 500px) {
    .btn-mod.btn-large {
        padding: 6px 16px;
        font-size: 11px;
    }
    .form-title {
        font-size: 20px;
    }
}


/*Estilo del Cart*/

.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }
    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }
    .actions .btn-info {
        float: left;
    }
    .actions .btn-danger {
        float: right;
    }
    table#cart thead {
        display: none;
    }
    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }
    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }
    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }
    table#cart tfoot td {
        display: block;
    }
    table#cart tfoot td .btn {
        display: block;
    }
}

h6.checkout {
    font-size: .7em;
    font-weight: 600;
    padding: .9rem;
    border-bottom: 2px solid #dee2e6;
}


/*******************************/


/* Rediseño para entrega final */


/*******************************/

body {
    background-color: #fff5ec;
}

h3 {
    font-size: 1.5em;
    line-height: 1.3em;
    color: #730947;
}

.navbar {
    padding: .5rem 1rem;
}

#navbar {
    font-family: 'Sora', sans-serif;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 600;
}

#navbar .nav-item a {
    background-color: #ffffff;
    border: 2px solid #1d1d1b;
    border-radius: 25px;
    margin-right: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    width: 8.5rem;
    padding: 6px 0px !important;
    transition: 0.2s;
}

#navbar .nav-item a::after {
    content: "";
    background-color: #f2d040;
    border: 2px solid #1d1d1b;
    border-radius: 25px;
    margin-right: 20px;
    position: absolute;
    padding: 16px 0 !important;
    width: 8.5rem;
    top: 2px;
    left: 2px;
    z-index: -1;
    display: block;
}

#navbar .nav-item a:hover,
#navbar .nav-item .nav-item-active {
    background-color: #f2d040;
    position: relative;
    top: 2px;
    left: 2px;
}

#navbar .nav-item a:hover::after,
#navbar .nav-item .nav-item-active::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -2px;
    border: 0px solid #1d1d1b;
}

@media (max-width: 900px) {
    #navbar .nav-item,
    #navbar .nav-item::after {
        width: 6rem;
    }
    #navbar {
        font-size: .6em;
    }
    #navbar .nav-item::after {
        padding: 13px 0 !important;
        top: 2px;
        left: 2px;
    }
}


/*.utility-nav*/

.utility-nav {
    background-color: #f25555;
    border-bottom: 3px solid #1d1d1b;
}

.utility-nav p {
    font-family: 'Sora', sans-serif;
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.utility-nav p strong {
    font-weight: 900;
}


/*.main-menu*/

.main-menu {
    background-color: #730947 !important;
    border-bottom: 3px solid #1d1d1b;
}


/*main*/

.saludo {
    margin-top: 5em;
    margin-bottom: 3.5em;
}


/*.footer*/

.footer {
    background-color: #f25555;
    padding: 10px;
    border-top: 3px solid #1d1d1b;
}


/*.item-card*/

.item-card figure {
    width: calc(100% - 30px);
}

.item-card .item-card-img {
    border: 2px solid #1d1d1b;
    border-radius: 35px;
    position: relative;
    top: 0px;
    left: 0px;
    width: auto;
    height: 320px;
    overflow: hidden;
    transition: 0.3s;
}

.item-card::after {
    content: "";
    border: 1.5px solid #1d1d1b;
    border-radius: 35px;
    position: absolute;
    width: calc(100% - 65px);
    height: 320px;
    top: 9px;
    left: 30px;
    z-index: -1;
    display: block;
}

.item-card:nth-child(1)::after,
.item-card:nth-child(6)::after {
    background-color: #730947;
}

.item-card:nth-child(2)::after,
.item-card:nth-child(8)::after {
    background-color: #f2d040;
}

.item-card:nth-child(3)::after,
.item-card:nth-child(5)::after {
    background-color: #2dccd3;
}

.item-card:nth-child(4)::after,
.item-card:nth-child(7)::after {
    background-color: #afdd0a;
}

@media (max-width: 768px) {
    .item-card .item-card-img {
        min-height: 550px !important;
    }
    .item-card::after {
        width: 92.5%;
        min-height: 550px !important;
    }
    .item-card figure {
        width: 100% !important;
    }
}

.item-card-title,
.item-card-subtitle,
.item-card-price,
.item-card-button {
    font-family: 'Sora', sans-serif;
    margin-left: 20px;
    color: #1d1d1b;
}

.item-card-title {
    font-size: 1.6em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .07em;
    line-height: 1.3em;
}

.item-card-subtitle {
    font-size: .8em;
    font-weight: 500;
    line-height: 1.3em;
    padding: 10px 0;
}

.item-card-price {
    font-size: 1.6em;
    font-weight: 600;
    padding: 5px 0;
}

.item-card-button {
    background-color: #f2d040;
    border: 2px solid #1d1d1b;
    font-size: .85em;
    font-weight: 600;
    border-radius: 25px;
    position: relative;
    top: 0px;
    left: 0px;
    transition: 0.3s;
    padding: 6px 25px;
    text-transform: uppercase;
}

.item-card-button span {
    display: inline-block;
    margin-left: 5px;
    font-size: 1em;
}

.item-card-button::after {
    content: "";
    background-color: #ffffff;
    border: 2px solid #1d1d1b;
    border-radius: 25px;
    margin-right: 20px;
    position: absolute;
    padding: 15px 0 !important;
    width: 8.4rem;
    top: 4px;
    left: 4px;
    z-index: -1;
    display: block;
}


/*Efecto botón presionado en la tarjeta*/

.item-card:hover>.item-card-button {
    position: relative;
    top: 4px;
    left: 4px;
    background-color: #f25555;
    color: #ffffff;
}

.item-card:hover>.item-card-button::after {
    content: "";
    position: absolute;
    top: 0px !important;
    left: 0px !important;
}

.item-card:hover>figure .item-card-img {
    position: relative;
    top: 9px;
    left: 15px;
}


/*Destacados*/

.destacado-nuevo {
    position: relative;
    width: 75%;
}

.destacado-nuevo img {
    position: absolute;
    bottom: -25px;
    left: -15px;
    z-index: 100;
    transition: 0.3s;
}

.item-card:hover>.destacado-nuevo img {
    position: absolute;
    bottom: -34px;
    left: 0px;
}

.destacado-ultima-oportunidad {
    position: relative;
    width: 38%;
}

.destacado-ultima-oportunidad img {
    position: absolute;
    bottom: 0px;
    left: 200%;
    z-index: 100;
    transition: 0.3s;
}

.footer {
    position: relative;
}

.destacado-contacto {
    background-color: #afdd0a;
    position: absolute;
    top: -40px;
    right: 35px;
    width: 80px;
    height: 80px;
    border: 2px solid #1d1d1b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.destacado-contacto img {
    width: 40px;
    height: 40px;
}

.destacado-contacto:hover {
    background-color: #f2d040;
}


/*Nav auxiliar*/

.carrito-boton {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border: 2px solid #1d1d1b;
    border-radius: 50%;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito-boton::after {
    content: "";
    background-color: #f2d040;
    border: 2px solid #1d1d1b;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    z-index: -1;
    display: block;
}

.carrito-boton img {
    width: 70%;
}

.carrito-boton .badge {
    content: "";
    background-color: #f25555;
    border: 2px solid #1d1d1b;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 40px;
    left: 40px;
    z-index: 100;
    display: block;
}

.carrito-boton:hover,
.carrito-boton-activo .carrito-boton {
    position: relative;
    top: 2px;
    left: 2px;
    background-color: #f2d040;
}

.carrito-boton:hover::after,
.carrito-boton-activo .carrito-boton::after {
    position: absolute;
    top: -1.5px;
    left: -1.5px;
}

.carrito-boton::before {
    content: "Carrito";
    font-family: 'Sora', sans-serif;
    color: #ffffff;
    font-size: 9px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    position: absolute;
    top: 75px;
}

.carrito-boton:hover::before {
    top: 73px;
    right: 4.15px;
}

.carrito-boton-activo .carrito-boton:hover::before {
    top: 75px;
    right: 3px;
}


/*Carousel*/

.carousel {
    border-bottom: 3px solid #1d1d1b;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 17px;
    height: 17px;
    margin-right: 6px;
    margin-left: 6px;
    border-radius: 50%;
    background-color: #730947;
}

.carousel-indicators .active {
    background-color: #f2d040;
    border: 2px solid #730947;
}

.carousel-inner {
    overflow: visible !important;
}

@font-face {
    font-family: Recoleta;
    src: url(./fonts/Recoleta-Black.ttf);
}

.slider-contenedor {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: -50px !important;
    width: 40%;
    height: 130px;
    border: 2px solid #1d1d1b;
    border-radius: 0px 20px 20px 0px;
    z-index: 100;
    background-color: #f2d040;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-contenedor h3,
.slider-contenedor h5 {
    font-family: Recoleta;
    font-size: 4em;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.slider-contenedor h3 {
    font-size: 4.5em;
    margin-top: -.2em;
}

.slider-contenedor h5 {
    font-size: 1.9em;
    color: #f25555;
}

.icono-coming-soon {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: -40px;
    margin-left: 5px;
    width: 160px;
}

.destino-coming-soon {
    margin-left: 140px;
}


/*.product-info*/

.product-info {
    margin: 7em 5.5em;
}

@media (max-width: 600px) {
    .product-info {
        margin: 4em 2em !important;
    }
}

.product-image {
    min-height: 450px;
}

.product-info h1 {
    font-family: Recoleta;
    font-size: 4em;
    margin: 0px;
    padding: 0px;
    text-align: left;
    color: #730947;
}

.product-info h3 {
    font-size: 1.3em;
    color: #730947;
    margin: 45px 0px 15px 0px;
}

.product-info p {
    font-size: 1em;
}

.product-price {
    font-family: 'Sora', sans-serif;
    color: #1d1d1b;
    font-size: 1.6em;
    font-weight: 600;
    padding: 5px 0;
}


/*.loader*/

.main-container {
    position: relative;
}

.loader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100%;
    background-color: #730947;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    position: relative;
    width: 140px;
    height: auto;
    margin: 0 auto;
}


/*.no-encontrado*/

.no-encontrado {
    margin: 7em 5.5em;
}

@media (max-width: 600px) {
    .no-encontrado {
        margin: 4em 0em !important;
    }
}

.no-encontrado h1 {
    font-family: Recoleta;
    font-size: 2.7em;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #1d1d1b;
}

.no-encontrado h3 {
    font-size: 1.3em;
    text-align: center;
    color: #1d1d1b;
    margin: 15px 0px 35px 0px;
}

.no-encontrado span {
    color: #f25555;
    display: inline-block;
}

.no-encontrado-button {
    font-family: 'Sora', sans-serif;
    color: #1d1d1b;
    background-color: #f2d040;
    border: 2px solid #1d1d1b;
    font-size: .85em;
    font-weight: 600;
    border-radius: 25px;
    position: relative;
    top: 0px;
    left: 0px;
    transition: 0.3s;
    padding: 6px 25px;
    text-transform: uppercase;
}

.no-encontrado-button::after {
    content: "";
    background-color: #ffffff;
    border: 2px solid #1d1d1b;
    border-radius: 25px;
    position: absolute;
    padding: 15px 0 !important;
    width: 12.2rem;
    top: 4px;
    left: 4px;
    z-index: -1;
    display: block;
}

.no-encontrado-button:hover {
    color: #ffffff;
    background-color: #f25555;
    top: 2px;
    left: 2px;
}

.no-encontrado-button:hover::after {
    top: -2px;
    left: -2px;
}


/*.item-count*/

.item-count-row {
    border-top: 2px solid #730947;
    border-bottom: 2px solid #730947;
    padding: 10px 0px;
    margin-top: 35px;
}

.item-count .input-group-btn button {
    background-color: #f2d040;
    color: #730947;
    border-radius: 50%;
}

.item-count .input-group-btn button:hover {
    background-color: #730947;
    color: #f2d040;
}

.item-count-row h5 {
    margin-right: 35px;
}

.item-count input {
    background-color: #fff5ec;
    border: none !important;
    color: #730947;
    font-family: Recoleta;
    font-size: 2em;
    z-index: -1;
}

#btnAgregarCarrito {
    margin-top: 40px;
    background-color: #f25555;
    border-radius: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Sora', sans-serif;
    font-size: .8em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 10px 0px;
    border: 2px solid #1d1d1b;
    position: relative;
    transition: 0.2s;
    top: 0;
    left: 0;
}

#btnAgregarCarrito::after {
    content: "";
    background-color: #f2d040;
    border: 2px solid #1d1d1b;
    border-radius: 25px;
    position: absolute;
    min-width: 100%;
    padding: 20px 0px;
    top: 2px;
    left: 5px;
    z-index: -1;
    display: block;
    transition: 0.3s;
}

#btnAgregarCarrito:hover {
    top: 2px;
    left: 5px;
}

#btnAgregarCarrito:hover::after {
    top: -2px;
    left: 0px;
    border: 0px solid #1d1d1b;
}

@media (max-width: 600px) {
    .item-count-row h5 {
        margin-right: 0px !important;
        margin-bottom: 15px;
    }
    .item-count input {
        font-size: 1.8em;
    }
}

.btn-despues-agregado-carrito {
    margin-top: 40px;
}

.btn-despues-agregado-carrito .btn {
    margin-right: 15px;
    text-transform: uppercase;
    font-family: 'Sora', sans-serif;
    font-size: .8em;
    font-weight: 600;
    letter-spacing: .1em;
    border-radius: 25px;
    padding: 10px 0px;
    border: 2px solid #1d1d1b;
    position: relative;
    transition: 0.2s;
    top: 0;
    left: 0;
}

.btn-despues-agregado-carrito .btn:first-child {
    color: #1d1d1b;
    background-color: #ffffff;
}

.btn-despues-agregado-carrito .btn:nth-child(2) {
    color: #ffffff;
    background-color: #f25555;
}

.btn-despues-agregado-carrito .btn:first-child::after,
.btn-despues-agregado-carrito .btn:nth-child(2)::after {
    content: "";
    background-color: #f2d040;
    border: 2px solid #1d1d1b;
    border-radius: 25px;
    position: absolute;
    min-width: 100%;
    padding: 20px 0px;
    top: 2px;
    left: 5px;
    z-index: -1;
    display: block;
    transition: 0.3s;
}

.btn-despues-agregado-carrito .btn:first-child:hover,
.btn-despues-agregado-carrito .btn:nth-child(2):hover {
    top: 2px;
    left: 5px;
}

.btn-despues-agregado-carrito .btn:first-child:hover {
    background-color: #f2d040;
    color: #1d1d1b;
}

.btn-despues-agregado-carrito .btn:nth-child(2):hover {
    background-color: #730947;
}

.btn-despues-agregado-carrito .btn:first-child:hover::after,
.btn-despues-agregado-carrito .btn:nth-child(2):hover::after {
    top: -2px;
    left: 0px;
    border: 0px solid #1d1d1b;
}

.agregado-al-carrito,
.compra-hecha {
    width: 100%;
    background-color: #afdd0a;
    padding: 8px;
    border: 2px solid #1d1d1b;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .1em;
}


/*.sin-compra*/

.sin-compra,
.checkout-titulo,
#checkout h2 {
    margin-top: 3em !important;
    font-family: Recoleta;
    font-size: 2.47em;
    margin: 0px;
    padding: 0px;
    color: #730947;
}

.sin-compra-boton {
    text-transform: uppercase;
    font-family: 'Sora', sans-serif;
    font-size: .8em;
    font-weight: 600;
    letter-spacing: .1em;
    border-radius: 25px;
    padding: 10px 25px;
    border: 2px solid #1d1d1b;
    color: #1d1d1b;
    background-color: #ffffff;
    position: relative;
    transition: 0.2s;
    top: 0;
    left: 0;
}

.sin-compra-boton::after {
    content: "";
    background-color: #f2d040;
    border: 2px solid #1d1d1b;
    border-radius: 25px;
    position: absolute;
    min-width: 100%;
    padding: 20px 0px;
    top: 2px;
    left: 5px;
    z-index: -1;
    display: block;
    transition: 0.3s;
}

.sin-compra-boton:hover {
    top: 2px;
    left: 5px;
    background-color: #f2d040;
    color: #1d1d1b;
}

.sin-compra-boton:hover::after {
    top: -2px;
    left: 0px;
    border: 0px solid #1d1d1b;
}


/*Cart*/

.cart-encabezado,
.checkout {
    background-color: #f25555;
    color: #ffffff;
}

.table th {
    font-size: .50em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.description h5 {
    font-family: Recoleta;
    color: #730947;
}

.cart-precio,
.cart-personas,
.cart-subtotal,
.description p,
.cart-total {
    font-size: .8em;
    font-weight: 600;
    line-height: 1.2em;
}

.cart-botones-auxiliares button,
.cart-botones-auxiliares a {
    text-transform: uppercase;
    font-family: 'Sora', sans-serif;
    font-size: .65em;
    font-weight: 600;
    letter-spacing: .1em;
    border-radius: 25px;
    padding: 5px 25px;
    border: 2px solid #1d1d1b;
    position: relative;
    transition: 0.2s;
    top: 0;
    left: 0;
}

.cart-botones-auxiliares button.btn {
    color: #1d1d1b;
    background-color: #ffffff;
}

.cart-botones-auxiliares button.btn:hover {
    color: #1d1d1b;
    background-color: #f2d040;
    border: 2px solid #1d1d1b;
}

.cart-botones-auxiliares a.btn {
    color: #1d1d1b;
    background-color: #2dccd3;
}

.cart-botones-auxiliares a.btn:hover {
    color: #ffffff;
    background-color: #f25555;
    border: 2px solid #1d1d1b;
}


/*Checkout*/

#checkout input {
    background-color: #fff5ec !important;
    border-bottom: 2px solid #730947;
}

#checkout label {
    font-size: .8em;
    font-weight: 600;
    line-height: 1.2em;
}

#checkout .checkout-button,
.compra-hecha-boton {
    text-transform: uppercase;
    font-family: 'Sora', sans-serif;
    font-size: .8em;
    font-weight: 600;
    letter-spacing: .1em;
    border-radius: 25px;
    padding: 10px 25px;
    border: 2px solid #1d1d1b;
    color: #1d1d1b;
    background-color: #ffffff;
    position: relative;
    transition: 0.2s;
    top: 0;
    left: 0;
}

#checkout .checkout-button::after,
.compra-hecha-boton::after {
    content: "";
    background-color: #f2d040;
    border: 2px solid #1d1d1b;
    border-radius: 25px;
    position: absolute;
    min-width: 100%;
    padding: 20px 0px;
    top: 2px;
    left: 5px;
    z-index: -1;
    display: block;
    transition: 0.3s;
}

#checkout .checkout-button:hover,
.compra-hecha-boton:hover {
    top: 2px;
    left: 5px;
    background-color: #f2d040;
    color: #1d1d1b;
}

#checkout .checkout-button:hover::after,
.compra-hecha-boton:hover::after {
    top: -2px;
    left: 0px;
    border: 0px solid #1d1d1b;
}


/*Mobile*/

#sidebar {
    background-color: #730947;
    color: #ffffff;
}

#sidebar li a {
    color: #ffffff !important;
}

#sidebar li.active a {
    color: #1d1d1d !important;
}


/*Compra resuelta*/

.compra-hecha span {
    display: inline;
    margin-left: 5px;
    color: #730947;
}